
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localiza
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    var sessidUser = Accessor.HttpContext.Session.GetString("idUser");
    var sessidUnit = Accessor.HttpContext.Session.GetString("idUnit");
    var unitMailingRoom = "D0D02AA8-7A27-ED11-89B0-3CF011A1A981";
    var en = Accessor.HttpContext.Session.GetString("en");
    var ina = Accessor.HttpContext.Session.GetString("ina");
    var no = 1;
    var data2 = @ViewBag.Data;
}
<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver    m-container m-container--responsive m-container--xxl m-page__container">
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto" style="color: white;">
                        <h3 class="m-subheader__title m-subheader__title--separator" style="color: white;">
                            
                             @(en !=null ? "Document Tracking" : "Pencarian Dokumen")
                        </h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="#" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home" style="color: white;"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator" style="color: white;">
                                -
                            </li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text" style="color: white;">
                                        @(en !=null ? "Other" : "Lainnya")
                                    </span>
                                </a>
                            </li>
                            <li class="m-nav__separator" style="color: white;">
                                -
                            </li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text" style="color: white;">
                                        @(en !=null ? "Document Tracking" : "Pencarian Dokumen")
                                    </span>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->
            <div class="m-content" style="padding: 30px 30px !important;">
                <!--Begin::Main Portlet-->
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                           <h5>@(en !=null ? "Document Tracking" : "Pencarian Dokumen")</h5>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <form asp-action="DetailLacakSuratKeluarNonEoffice">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">&nbsp;@(en !=null ? "Tracking Number" : "Tracking Number")</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" autocomplete="off" name="trackingNumber" id="trackingNumber" autocomplete="off" required>
                                    <input type="text" hidden value="0" class="form-control" name="statusElse" id="statusElse">
                                </div>
                                 <div class="col-sm-4">
                                      <button class="btn btn-primary" type="submit">@(en !=null ? "Search" : "Cari")</button>
                                   @* <button class="btn btn-primary" id="btncari" onclick="filterData()">@(en !=null ? "Search" : "Cari")</button>*@
                                </div
                        </form>
                            </div>
                        @*<div class="form-group row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary" id="btncari" onclick="filterData()">@(en != null ? "Search" : "Cari")</button>
                            </div>
                            
                        </div>*@
                    </div>
                </div>
                <!--End::Main Portlet-->
                <div class="m-portlet m-portlet--full-height ">

                    <div class="m-portlet__body">
                        <div class="table-responsive">
                        </div>
                        <div class="table-responsive">
                            <div id="listDocHist" style="margin-top:20px">
                            </div>

                          
                              <table id="myTablee" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                <thead>
                               <tr>
                                    @if (@en == "en")
                                    {
                                                               @if(@ViewBag.type == 1)
                                                                {
                                                                    <th>No</th>
                                                                    <th>No AWB / No Delivery</th>
                                                                    <th>Reference Number</th>
                                                                    <td>ReceiptDate</td>
                                                                    <th>Expedition Name</th>
                                                                    <th>Sender Name</th>
                                                                    <th>NPP</th>
                                                                    <th>Division Name</th>
                                                                    <th>Division Code</th>
                                                                    <th>Letter Number</th>
                                                                    <th>Purpose Name</th>
                                                                    <th>Phone Number</th>
                                                                    <th>Adress</th>
                                                                    <th>Receiver Name</th>
                                                                    <th>Receiver Date</th>
                                                                    <th>Delivery Status</th>
                                                                    <th>Create By</th>
                                                                    <th>Update By</th>
                                                                }
                                                                else
                                                                {
                                                        
                                                                     <th>No</th>
                                                                     <th>Receipt Number</th>
                                                                     <th>Letter Number</th>
                                                                     <td>ReceiptDate</td>
                                                                     <th>Send Type</th>
                                                                     <th>Courier Name</th>
                                                                     <th>Sender Name</th>
                                                                     <th>Division</th>
                                                                     <th>Destination Name</th>
                                                                     <th>Nomor Telepon</th>
                                                                     <th>Destination Adress</th>
                                                                     <th>Receiver Name</th>
                                                                     <th>Receiver Date</th>
                                                                     <th>Status</th>
                                                                     <th>Create By</th>
                                                                     <th>Update By</th>
                                                                }
                                                        
                                                    
                                    }
                                    else
                                    {

                                                                @if(@ViewBag.type == 1)
                                                                {
                                                                    <th>No</th>
                                                                    <th>No AWB / No Pengiriman</th>
                                                                    <th>"Nomor Refrensi</th>
                                                                    <th>Tanggal Pengiriman</th>
                                                                    <th>Nama Ekspedisi</th>
                                                                    <th>Nama Pengirim</th>
                                                                    <th>NPP</th>
                                                                    <th>Divisi</th>
                                                                    <th>Kode Divsi</th>
                                                                    <th>Nomor Surat</th>
                                                                    <th>Nama Tujuan</th>
                                                                    <th>Nomor Telepon</th>
                                                                    <th>Alamat</th>
                                                                    <th>Nama Penerima</th>
                                                                    <th>Status Pengiriman</th>
                                                                    <th>Dibuat oleh</th>
                                                                    <th>Diubah oleh</th>
                                                                }
                                                                else
                                                                {
                                                                     <th>No</th>
                                                                     <th>Nomor Resi</th>
                                                                     <th>Nomor Surat</th>
                                                                     <th>Tanggal Penerimaan</th>
                                                                     <th>Tipe Jenis Antaran</th>
                                                                     <th>Nama Kurir</th>
                                                                     <th>Nama Pengirim</th>
                                                                     <th>Divisi</th>
                                                                     <th>Nama Tujuan</th>
                                                                     <th>Nomor Telepon</th>
                                                                     <th>Alamat Tujuan</th>
                                                                     <th>Nama Penerima</th>
                                                                     <th>Tgl Penerima</th>
                                                                     <th>Status</th>
                                                                     <th>Dibuat oleh</th>
                                                                     <th>Diubah oleh</th>
                                                                }
                                                        
                                    }
                                    </tr>
                            </thead>
                           
                                <tbody>
                                     @{
                                        int i = 1;
                                    }
                                    @foreach (var item in ViewBag.Data)
                                    { 
                                        <td>@i</td>
                                            @if(@item.delivery_type == 1)
                                            {
                                                <td>@item.nmrawb</td>
                                                <td>@item.nmrreferen</td>
                                                <td>@item.ReceiptDate</td>
                                                <td>@item.expedition_name</td>
                                                <td>@item.sender_name</td>
                                                <td>@item.nip</td>
                                                <td>@item.unitname</td>
                                                <td>@item.kodeunit</td>
                                                <td>@item.letter_number</td>
                                                <td>@item.docReceiver</td>
                                                <td>@item.phonenumber</td>
                                                <td>@item.address</td>
                                                <td>@item.purposename</td>
                                                <td>@item.statusname</td>
                                                <td>@item.cretaeby</td>
                                                <td>@item.updateby</td>
                                            }
                                             
                                            else
                                            {
                                                <td>@item.nmresi</td>
                                                <td>@item.letter_number</td>
                                                <td>@item.ReceiptDate</td>
                                                <td>@item.deliveryname</td>
                                                <td>@item.expedition_name</td>
                                                <td>@item.sender_name</td>
                                                <td>@item.unitname</td>
                                                <td>@item.docReceiver</td>
                                                <td>@item.phonenumber</td>
                                                <td>@item.address</td>
                                                <td>@item.purposename</td>
                                                <td>@item.tgluntil</td>
                                                <td>@item.statusname</td>
                                                <td>@item.cretaeby</td>
                                                <td>@item.updateby</td>
                                            }
                                       i++;
                                    }
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#myTablee').DataTable({
            scrollY: true,
            scrollX: true,
            //order: [[ 12, "desc" ]]
        });
        //   $(document).on("click", ".passingID", function () {
        //    var ids = $(this).attr('data-id');
        //    $.ajax({
        //        url: "@Url.Action("GetDetailEkspedisiNon","GenerateNoDoc")",
        //        method: "POST",
        //        data: { ids: ids },
        //        success: function (data) {
        //            $('#employee_detail').html(data);
        //            $(".modal-body #letter_number").val(ids);
        //        }
        //    });
       
        //});

    }); 

</script>
