@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localiza
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    var sessidUser = Accessor.HttpContext.Session.GetString("idUser");
    var sessidUnit = Accessor.HttpContext.Session.GetString("idUnit");
    var unitMailingRoom = "D0D02AA8-7A27-ED11-89B0-3CF011A1A981";
    var actionLink = "@Url.ActionLink('DeleteSekDir','SettingUser')";
    var en = Accessor.HttpContext.Session.GetString("en");
    var ina = Accessor.HttpContext.Session.GetString("ina");
}
<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver    m-container m-container--responsive m-container--xxl m-page__container">
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto" style="color: white;">
                        <h3 class="m-subheader__title m-subheader__title--separator" style="color: white;">
                            @(en != null ? "Secretary Settings" : "Setting Sekretaris")
                        </h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="#" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home" style="color: white;"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator" style="color: white;">
                                -
                            </li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text" style="color: white;">
                                        @(en != null ? "Other" : "Lainya")
                                    </span>
                                </a>
                            </li>
                            <li class="m-nav__separator" style="color: white;">
                                -
                            </li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text" style="color: white;">
                                        @(en != null ? "Settings" : "Setting")
                                    </span>
                                </a>
                            </li>
                            <li class="m-nav__separator" style="color: white;">
                                -
                            </li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text" style="color: white;">
                                        @(en != null ? "Secretary Settings" : "Setting Sekretaris")
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->
            <div class="m-content" style="padding: 30px 30px !important;">
                <!--Begin::Main Portlet-->
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <h5>@(en != null ? "Secretary Settings" : "Setting Sekretaris")</h5>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">&nbsp; @(en != null ? "Director/Commissioner" : "Direktur/Komisaris")</label>
                            <div class="col-sm-4">
                                <select class="form-control select2-selection__rendered" id="IdDirektur" name="IdDirektur" required onchange="getUserSekDir(this.value)">
                                    <option value="">--@(en != null ? "Select Director/Commissioner Position" : "Pilih Direktur/Komisaris")--</option>
                                    @foreach (var item in ViewBag.SelectUserDirektur)
                                    {
                                        <option value="@item.IdDirektur">@item.Nip - @item.Fullname - @item.Position_Name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">&nbsp;  @(en != null ? "Name" : "Nama")</label>
                            <div class="col-sm-4">
                                <select class="form-control select2-selection__rendered" id="Iduser" name="Iduser" required>
                                    <option value="">--@(en != null ? "Select Secretary" : "Pilih Sekretaris")--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-form-label">&nbsp;</label>
                            <div class="col-sm-2">
                                <button class="btn btn-primary" id="btncari" onclick="SubmitData()">Submit</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!--End::Main Portlet-->
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__body">
                        <table id="tblUserAdmin" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="padding-top: 10px;padding-bottom: 10px;padding-right: 18px;padding-left: 9px;">@(en != null ? "Director" : "Direktur")</th>
                                    <th style="padding-top: 10px;padding-bottom: 10px;padding-right: 18px;padding-left: 9px;">@(en != null ? "Secretary" : "Sekretaris")</th>
                                    <th style="padding-top: 10px;padding-bottom: 10px;padding-right: 18px;padding-left: 9px;">@(en != null ? "Action" : "Aksi")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.SelectAllData)
                                {
                                    <tr>
                                        <td>@item.Position_NameDirektur <br>  @item.FullnameDirektur
                                        </td>
                                        <td>@item.Position_NameSeketaris <br> @item.FullnameSeketaris
                                        </td>
                                        <td style="line-height: 5px; color:white;">
                                            <style>
                                                .btn-danger{
                                                    line-height: 5px;
                                                    color: white;
                                                }
                                            </style>
                                            @Html.ActionLink("Delete","DeleteSekDir", "SettingUser",
                                        new { id = @item.ID_SETDIRKOM },new { @class="btn btn-danger"})
                                        </td>
                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tblUserAdmin').DataTable();
    });
    function SubmitData() {
        $.blockUI({
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .5,
                baseZ: 2000,
                color: '#fff'
            }
        });
        var IdDirektur = document.getElementById("IdDirektur").value;
        var Iduser = document.getElementById("Iduser").value;

        var param = {
            IdDirektur: IdDirektur,
            Iduser: Iduser
        };
        if (IdDirektur == "" || Iduser == "") {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Validasi',
                text: 'Divisi dan User harus diisi!',
                showConfirmButton: false,
                timer: 1500,
                onBeforeOpen: () => {
                    timerInterval = setInterval(() => {
                        const content = Swal.getContent()
                        if (content) {
                            const b = content.querySelector('b')
                            if (b) {
                                b.textContent = Swal.getTimerLeft()
                            }
                        }
                    }, 100)
                },
                onClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                /* Read more about handling dismissals below */
            })
        }

        $.post('@Url.Action("UpdateSettingSeketaris", "SettingUser")', param, function (result) {
            var data = JSON.parse(result);
            console.log(data);

            $.unblockUI();
            window.location.reload();

        });

    }

    function getUserSekDir(IdDirektur) {
        $('#Iduser option:not(:first)').remove();
        $.ajax({
            url: "@Url.Action("GetSeketaris","SettingUser")",
            method: "POST",
            data: { IdDirektur: IdDirektur },
            success: function (msg) {
                var data = JSON.parse(msg);
                var result = data.Result;
                console.log(data);
                for (var i = 0; i < result.length;i++)
                {
                    $("#Iduser").append('<option value="' + result[i].idUser + '">' + result[i].userName +'- '+ result[i].unitName + '</option>');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ERROR!!!");
            }
        });
    }
</script>