@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localiza
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    var sessidUser = Accessor.HttpContext.Session.GetString("idUser");
    var sessidUnit = Accessor.HttpContext.Session.GetString("idUnit");
    var en = Accessor.HttpContext.Session.GetString("en");
    var ina = Accessor.HttpContext.Session.GetString("ina");
    string dateNow = DateTime.Now.ToString("yyyy-MM-dd");

}
<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver    m-container m-container--responsive m-container--xxl m-page__container">
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto" style="color: white;">
                        <h3 class="m-subheader__title m-subheader__title--separator" style="color: white;">
                            @(en != null ? "Delegasi Setting" : "Pengaturan Delegasi")
                        </h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="#" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home" style="color: white;"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator" style="color: white;">
                                -
                            </li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text" style="color: white;">
                                        @(en != null ? "Other" : "Lainnya")
                                    </span>
                                </a>
                            </li>
                            <li class="m-nav__separator" style="color: white;">
                                -
                            </li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text" style="color: white;">
                                        @(en != null ? "Settings" : "Pengaturan")
                                    </span>
                                </a>
                            </li>
                            <li class="m-nav__separator" style="color: white;">
                                -
                            </li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text" style="color: white;">
                                        @(en != null ? "Delegasi Setting" : "Pengaturan Delegasi")
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->
            <div class="m-content" style="padding: 30px 30px !important;">
                <!--Begin::Main Portlet-->
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <h5> @(en != null ? "Set Delegasi" : "Pengaturan Delegasi")</h5>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <form method="post" onsubmit="return validatePass()">
                            
                            <div class="form-group row">
                                    @*<input type="text" class="form-control"  id="id" name="id">*@
   
                                <label for="inputEmail3" class="col-sm-1 col-form-label">&nbsp; Delegasi</label>
                                <div class="col-sm-4">
                                   <select class="select2-search select2-search--dropdown form-control" id="id_user_delegasi" name="id_user_delegasi">
                                        <option id="delegasi_name" value="">--@(en != null ? "Select Approver 1 " : "Pilih User")--</option>
                                        @foreach (var item in ViewBag.SelectSuperUser)
                                        {
                                            <option value="@item.Iduser">@item.Nip - @item.Fullname - @item.unitName</option>
                                        }
                                    </select>
                                </div>
                               
                            </div>
                             <div class="form-group row">   
                                <label for="inputEmail3" class="col-sm-1 col-form-label">&nbsp; @(en != null ? "Start Date " : "Tanggal Mulai")</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" value="@dateNow" min="@dateNow" id="startdate" name="startdate">
                                </div>
                                <label for="inputEmail3" class="col-sm-1 col-form-label">&nbsp; @(en != null ? "End Date " : "Tanggal Akhir")</label>
                                  <div class="col-sm-4">
                                    <input type="date" class="form-control" value="@dateNow" min="@dateNow" id="enddate" name="enddate">
                                </div>                              
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label">&nbsp;</label>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary" id="btncari" onclick="SubmitData()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
               <div class="m-portlet m-portlet--full-height ">
                <div class="m-portlet__body">
                     <div class="table-responsive">
                            <table id="myTablee" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>NO</th>                         
                                        @*<th>@(en != null ? "Id" : "Id")</th> *@
                                        <th>@(en != null ? "User" : "Users")</th>                                        
                                        <th>@(en != null ? "User Delegation" : "User Delegasi")</th>
                                        <th>@(en != null ? "Tanggal Mulai" : "Start Date")</th>
                                        <th>@(en != null ? "Tanggal Akhir" : "End Date")</th>                                                                                   
                                        <th>@(en != null ? "Status" : "Status")</th>
                                      
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                 
                <!--End::Main Portlet-->
            </div>
        </div>
    </div>
</div>

<link href="~/assets/datatablenew/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<script src="~/assets/demo/demo2/new_theme/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="~/assets/datatablenew/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript">

    
    $(document).ready(function () {
        var unit = "@sessidUnit";
        var actionLink = '@Url.ActionLink("DeleteAdminPengadaan","SettingUser")';
        var GetactionLink = '@Url.ActionLink("GetSetDelegasiList","SettingUser")';
        $('#myTablee').DataTable(
            {
              scrollY: true,
             scrollX: true,
                ajax: {
                    url: GetactionLink,
                    type: "POST",
                },
                processing: true,
                serverSide: true,
                filter: true,
                columns: [
                    {
                        data: null,
                        sortable: false,
                        name: "Id",
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    //{ data: "Id", name: "Id" },
                    { data: "user_name", name: "user_name" },
                    { data: "user_name_delegasi", name: "user_name_delegasi" },
                    { data: "startdatestring", name: "startdatestring" },
                    { data: "enddatestring", name: "enddatestring" },
                    { data: "status_approver", name: "status_approver" },


                ]
            });
    });

 
   
    function SubmitData() {
        //var id = document.getElementById("id").value;
        var id_user_delegasi = document.getElementById("id_user_delegasi").value;
        var startdate = document.getElementById("startdate").value;
        var enddate = document.getElementById("enddate").value;
   
        var param = {
            //id:id,
            id_user_delegasi: id_user_delegasi,
            startdate: startdate,
            enddate: enddate,
        
        };
        $.post('@Url.Action("InsertDelegasi", "SettingUser")', param, function (result) {
                    var data = JSON.parse(result);
                    console.log(data);
                    //id = '';
                    $.unblockUI();
                    window.location.reload();

       });
    }
</script>